## logistic regression

In [7]:
import numpy as np
import pandas as pd

In [2]:
train_file=r'E:\lanchan VIP files\data scienece\python\Data\rg_train.csv'
test_file=r'E:\lanchan VIP files\data scienece\python\Data\rg_test.csv'

In [3]:
bd_train=pd.read_csv(train_file)
bd_test=pd.read_csv(test_file)

In [4]:
bd_train

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.00,2,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.00,2,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.00,2,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.00,2,Female,South West,48.58,9.58,20.65,56.17
5,10853,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,52.94,7.46,7.98,1,Male,North,77.47,38.37,85.35,200.23
6,1495,3,36-40,Partner,Secretarial/Admin,Unknown,Own Home,"<25,000, >=22,500",Yes,Yes,...,2.99,37.44,31.97,2,Female,Scotland,14.49,109.42,109.93,177.31
7,9602,1,41-45,Partner,Other,Professional,Own Home,"<15,000, >=12,500",No,No,...,25.98,2.99,0.00,2,Female,Unknown,161.69,54.87,98.65,306.17
8,5402,2,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,0.00,7.48,0.00,2,Female,West Midlands,2.00,1.25,0.00,46.31
9,6343,3,31-35,Partner,Business Manager,Manual Worker,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Female,South West,55.19,10.24,24.41,53.09
10,6370,3,26-30,Partner,Housewife,Business Manager,Own Home,"<27,500, >=25,000",No,No,...,0.00,22.88,0.00,2,Female,East Midlands,8.40,16.12,15.97,22.50
11,2768,2,41-45,Partner,Secretarial/Admin,Unknown,Own Home,"<27,500, >=25,000",No,Yes,...,53.95,16.47,378.22,1,Female,North West,37.37,129.05,87.47,193.85
12,8769,1,45-50,Partner,Manual Worker,Unknown,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,31.99,2,Male,South East,11.60,12.49,7.16,61.26
13,2097,1,26-30,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,19.96,0.00,0.80,2,Female,Unknown,60.47,14.78,30.89,93.72
14,4672,1,45-50,Partner,Housewife,Professional,Own Home,">=35,000",No,Yes,...,16.94,0.00,18.45,2,Female,South East,81.96,39.62,69.36,190.06
15,9816,Zero,51-55,Partner,Housewife,Retired,Own Home,"<27,500, >=25,000",No,No,...,1.99,0.00,0.00,2,Female,East Anglia,20.29,38.04,44.03,121.42
16,11226,Zero,65-70,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,0.00,1.99,0.00,2,Male,South East,6.70,8.83,14.07,12.45
17,2614,Zero,61-65,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,14.98,0.00,0.00,2,Female,South East,44.18,14.57,23.06,86.69
18,5135,2,36-40,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2,Female,North West,24.69,0.00,5.00,37.57
19,853,Zero,51-55,Partner,Secretarial/Admin,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,2,Female,East Anglia,12.10,9.24,9.24,2.13
20,7625,1,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,">=35,000",No,No,...,4.98,0.00,0.00,2,Female,North West,0.00,0.83,0.83,-19.21
21,4466,1,41-45,Divorced/Separated,Professional,Unknown,Own Home,"<25,000, >=22,500",No,No,...,0.00,19.44,0.00,2,Female,North West,0.00,6.57,3.33,40.82
22,9630,1,55-60,Partner,Professional,Professional,Own Home,">=35,000",Yes,Yes,...,9.99,4.38,30.00,2,Female,East Anglia,82.46,30.05,57.64,210.79
23,1738,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,0.00,0.00,0.00,2,Female,North West,10.89,19.57,27.06,-13.34
24,4014,2,26-30,Partner,Other,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2,Female,South East,16.28,5.50,7.41,91.96
25,5632,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,3.49,0.00,0.00,2,Female,South East,26.88,8.49,14.48,71.15
26,1724,2,51-55,Partner,Business Manager,Retired,Own Home,"<27,500, >=25,000",Yes,No,...,0.00,9.98,0.00,2,Male,North West,29.08,20.47,31.97,67.41
27,4123,3,31-35,Partner,Other,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,Northern Ireland,5.20,9.24,13.57,87.36
28,11056,1,31-35,Partner,Housewife,Professional,Rent Privately,">=35,000",No,No,...,2.00,0.00,0.00,2,Female,South East,27.98,10.42,21.07,70.55
29,1529,Zero,51-55,Partner,Business Manager,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,2.49,0.00,0.00,2,Male,North West,16.78,37.29,41.20,84.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8094,10305,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,South East,29.79,0.00,18.83,66.15
8095,3344,Zero,65-70,Partner,Housewife,Retired,Own Home,"<22,500, >=20,000",No,No,...,0.00,0.00,0.00,2,Female,South East,35.88,23.65,46.14,48.76
8096,11292,Zero,55-60,Partner,Housewife,Professional,Own Home,">=35,000",No,Yes,...,0.00,0.00,0.00,2,Female,North West,15.89,9.08,15.66,-5.12
8097,4016,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,South West,13.59,6.32,9.07,25.97
8098,3516,2,41-45,Partner,Professional,Secretarial/Admin,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Male,East Anglia,65.76,4.08,35.81,135.96
8099,11151,1,61-65,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,0.00,3.98,17.88,2,Female,East Midlands,5.13,6.39,4.78,42.15
8100,4203,1,41-45,Partner,Other,Secretarial/Admin,Own Home,"<25,000, >=22,500",No,No,...,0.00,25.22,22.49,2,Female,South East,195.29,104.29,142.79,428.20
8101,4903,1,36-40,Partner,Professional,Manual Worker,Own Home,">=35,000",No,Yes,...,14.98,34.95,0.00,2,Female,Unknown,9.20,13.07,10.57,10.72
8102,10051,Zero,61-65,Partner,Retired,Retired,Rent from Council/HA,"<17,500, >=15,000",No,No,...,21.48,11.48,0.00,2,Male,West Midlands,42.87,24.38,32.55,69.62
8103,3216,Zero,55-60,Partner,Retired,Retired,Own Home,"<10,000, >= 8,000",No,No,...,0.00,0.00,0.00,1,Female,Unknown,78.56,5.58,34.06,151.83
8104,5500,Zero,55-60,Partner,Unknown,Other,Own Home,">=35,000",No,No,...,0.00,10.97,42.95,2,Female,Unknown,25.68,19.06,21.64,90.74
8105,6675,1,31-35,Partner,Other,Other,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Male,West Midlands,5.10,0.83,5.08,-46.77
8106,5297,Zero,26-30,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,179.30,1,Female,Unknown,19.13,44.53,22.34,161.64
8107,9465,Zero,71+,Partner,Unknown,Unknown,Own Home,"<22,500, >=20,000",No,No,...,13.98,9.48,7.99,2,Female,East Anglia,122.19,40.62,99.55,206.11
8108,6710,1,31-35,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,">=35,000",No,No,...,39.49,0.00,0.00,1,Male,South East,16.79,19.66,30.40,63.31
8109,9492,Zero,55-60,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,0.00,0.00,2,Female,South West,46.68,5.50,35.32,107.41
8110,6138,1,36-40,Partner,Business Manager,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Male,South West,0.00,15.41,15.41,49.18
8111,7668,Zero,26-30,Single/Never Married,Secretarial/Admin,Unknown,Own Home,"<12,500, >=10,000",No,No,...,2.99,14.99,0.00,2,Male,Scotland,14.29,3.00,2.08,6.35
8112,5483,3,31-35,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,1.99,0.00,0.00,2,Female,North West,44.28,3.00,21.74,107.97
8113,2429,Zero,61-65,Partner,Retired,Retired,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,0.00,2,Male,Unknown,9.79,15.62,23.78,-3.42
8114,1626,Zero,55-60,Partner,Professional,Housewife,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Male,South East,14.08,3.00,14.74,38.57
8115,3926,Zero,51-55,Partner,Retired,Retired,Own Home,"<27,500, >=25,000",No,No,...,1.00,9.49,0.00,2,Female,South West,7.90,46.61,45.03,86.68
8116,10038,1,51-55,Partner,Secretarial/Admin,Manual Worker,Live in Parental Hom,">=35,000",No,No,...,9.99,4.99,17.97,2,Female,Wales,45.58,15.57,37.81,84.34
8117,884,2,41-45,Partner,Secretarial/Admin,Unknown,Live in Parental Hom,"<30,000, >=27,500",No,No,...,9.98,0.00,29.53,2,Female,North West,45.47,38.72,46.12,128.55
8118,563,Zero,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2,Female,North West,24.19,3.50,6.16,50.15
8119,10391,Zero,71+,Widowed,Retired,Unknown,Own Home,"<10,000, >= 8,000",No,No,...,0.00,0.00,0.00,2,Female,West Midlands,32.19,1.67,20.66,66.26
8120,3955,Zero,61-65,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,0.00,2,Male,North West,24.09,0.00,4.17,-2.70
8121,1195,Zero,61-65,Partner,Retired,Retired,Own Home,"<25,000, >=22,500",No,No,...,8.00,0.00,0.00,2,Female,West Midlands,42.98,3.49,16.48,36.72
8122,6581,2,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,2,Female,Scotland,25.38,0.00,11.99,-11.65
8123,2099,1,51-55,Partner,Secretarial/Admin,Manual Worker,Rent from Council/HA,"<17,500, >=15,000",No,No,...,0.00,2.99,0.00,2,Female,South East,1.60,26.73,26.23,46.04

In [5]:
bd_test

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.in.Mutual.Fund,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,9,1,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,74.93,41.71,35.41,11.99,Female,Scotland,48.67,60.23,63.58,162.40
1,13,Zero,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,0.00,5.99,0.00,Female,Wales,5.00,1.00,0.00,-18.84
2,18,Zero,26-30,Partner,Unknown,Professional,Own Home,">=35,000",Yes,No,...,123.39,0.00,39.96,0.00,Female,Scotland,63.87,36.64,59.96,115.89
3,21,1,41-45,Partner,Secretarial/Admin,Manual Worker,Own Home,"<12,500, >=10,000",No,No,...,86.43,12.49,21.46,0.00,Female,West Midlands,39.48,38.63,62.04,134.44
4,26,Zero,26-30,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,25.48,0.00,0.00,0.00,Female,East Midlands,15.20,5.08,17.74,27.95
5,28,Zero,71+,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,37.47,9.99,0.00,0.00,Female,South West,75.26,56.70,80.93,144.84
6,34,Zero,22-25,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,34.98,5.99,8.69,24.95,Female,South West,13.49,18.18,23.82,103.29
7,44,2,36-40,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,19.98,4.99,0.00,0.00,Female,East Anglia,26.18,11.07,23.90,63.26
8,57,Zero,55-60,Divorced/Separated,Secretarial/Admin,Unknown,Own Home,"<12,500, >=10,000",No,No,...,0.00,0.00,0.00,0.00,Female,North West,2.30,0.00,0.00,-8.24
9,59,Zero,45-50,Partner,Professional,Professional,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,0.00,Female,South West,10.60,0.00,4.67,16.52
10,64,Zero,55-60,Partner,Manual Worker,Secretarial/Admin,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,0.00,0.00,Male,North West,2.29,0.00,1.91,8.89
11,67,Zero,45-50,Partner,Housewife,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,113.89,0.00,0.00,5.99,Female,Scotland,32.99,22.23,34.64,87.79
12,71,Zero,61-65,Widowed,Retired,Unknown,Own Home,"<15,000, >=12,500",No,No,...,17.47,0.00,5.98,37.47,Female,East Midlands,6.79,11.48,5.91,45.88
13,79,1,45-50,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,43.46,10.98,0.00,0.00,Male,North West,25.38,15.07,22.89,85.20
14,87,Zero,41-45,Single/Never Married,Secretarial/Admin,Unknown,Own Home,"<15,000, >=12,500",No,No,...,13.99,0.00,45.39,0.00,Female,Scotland,4.60,12.90,9.16,-12.61
15,89,Zero,45-50,Partner,Professional,Unknown,Own Home,"<27,500, >=25,000",No,Yes,...,13.99,28.49,2.98,2.49,Female,Unknown,94.51,8.91,45.60,135.12
16,110,Zero,55-60,Partner,Professional,Housewife,Own Home,">=35,000",Yes,No,...,0.00,0.00,0.00,0.00,Male,North West,3.39,0.00,2.83,10.92
17,113,2,26-30,Partner,Unknown,Unknown,Own Home,"<22,500, >=20,000",No,No,...,25.48,0.00,0.00,0.00,Female,North West,20.79,4.25,16.91,94.39
18,114,Zero,61-65,Single/Never Married,Retired,Unknown,Own Home,"<15,000, >=12,500",No,No,...,128.42,0.00,0.00,78.95,Female,South West,5.90,70.44,62.20,98.28
19,116,Zero,45-50,Partner,Retired,Professional,Own Home,"<27,500, >=25,000",No,No,...,71.42,0.00,0.00,15.98,Female,East Midlands,31.28,30.56,48.05,104.86
20,123,3,36-40,Partner,Professional,Professional,Own Home,">=35,000",Yes,No,...,12.00,1.00,22.18,91.43,Female,North West,13.69,26.18,9.58,62.22
21,126,Zero,55-60,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,51.96,5.99,0.00,0.00,Female,East Midlands,23.14,18.40,34.77,78.80
22,129,Zero,55-60,Partner,Unknown,Other,Own Home,"<27,500, >=25,000",Yes,No,...,125.43,21.98,0.00,0.00,Male,South East,58.68,31.47,40.21,78.48
23,130,Zero,51-55,Partner,Retired,Retired,Own Home,"<20,000, >=17,500",No,No,...,15.48,0.00,9.72,0.00,Female,North,70.07,21.44,55.13,158.63
24,132,2,36-40,Partner,Professional,Secretarial/Admin,Own Home,"<17,500, >=15,000",No,No,...,79.91,29.49,0.00,0.00,Female,Northern Ireland,14.59,26.64,32.89,57.28
25,138,Zero,26-30,Single/Never Married,Secretarial/Admin,Unknown,Own Home,"<12,500, >=10,000",No,No,...,19.48,0.00,0.00,4.99,Female,West Midlands,27.59,7.24,15.24,62.67
26,144,Zero,61-65,Partner,Retired,Retired,Own Home,"<10,000, >= 8,000",No,No,...,91.45,0.00,0.00,0.00,Female,West Midlands,112.84,21.57,53.97,237.46
27,147,Zero,26-30,Partner,Housewife,Professional,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,0.50,Female,South East,6.64,0.08,1.87,-11.40
28,149,Zero,55-60,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<15,000, >=12,500",No,No,...,0.02,0.00,0.00,0.00,Female,South East,21.39,1.17,2.42,-4.80
29,150,Zero,41-45,Partner,Unknown,Unknown,Own Home,"<27,500, >=25,000",Yes,No,...,39.46,1.35,5.97,0.00,Female,South West,3.00,10.54,12.05,42.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,11362,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,11.99,0.00,0.00,0.00,Male,South East,5.39,6.49,7.66,-59.67
2002,11363,2,36-40,Partner,Professional,Secretarial/Admin,Own Home,">=35,000",No,No,...,72.96,0.00,0.00,0.00,Male,South West,21.68,43.97,58.12,138.94
2003,11369,Zero,51-55,Partner,Other,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,19.99,19.49,3.49,0.00,Female,North West,17.79,10.24,11.16,34.53
2004,11373,Zero,55-60,Partner,Retired,Retired,Own Home,"<17,500, >=15,000",No,No,...,0.00,0.00,0.00,0.00,Female,South East,59.66,0.00,12.41,61.77
2005,11377,2,31-35,Partner,Professional,Business Manager,Own Home,">=35,000",No,No,...,0.00,0.00,1.99,0.00,Female,Scotland,53.06,8.16,34.06,58.17
2006,11380,Zero,65-70,Partner,Unknown,Unknown,Own Home,"<17,500, >=15,000",No,No,...,54.91,21.99,0.00,0.00,Male,West Midlands,7.69,13.82,16.65,105.79
2007,11382,Zero,31-35,Single/Never Married,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,...,0.01,0.00,0.00,0.00,Female,South East,62.38,5.50,24.24,59.78
2008,11383,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,121.44,Female,South East,37.50,23.15,11.27,21.40
2009,11386,2,36-40,Divorced/Separated,Secretarial/Admin,Unknown,Rent from Council/HA,"<15,000, >=12,500",No,No,...,69.47,16.47,32.16,319.84,Female,South East,66.05,102.05,66.03,228.27
2010,11398,Zero,51-55,Partner,Professional,Manual Worker,Own Home,"<25,000, >=22,500",Yes,Yes,...,15.99,0.00,0.00,0.00,Male,Scotland,3.20,2.67,5.33,6.65
2011,11400,1,45-50,Partner,Professional,Housewife,Own Home,"<15,000, >=12,500",No,Yes,...,10.51,0.00,0.00,0.00,Male,Scotland,33.68,4.25,11.25,38.23
2012,11410,Zero,41-45,Partner,Manual Worker,Manual Worker,Own Home,"<22,500, >=20,000",Yes,Yes,...,39.96,0.00,0.00,0.00,Female,South West,24.69,9.32,13.49,74.20
2013,11412,Zero,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,55.43,19.49,1.99,39.93,Male,North West,18.08,33.38,37.97,55.92
2014,11416,2,31-35,Partner,Housewife,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,0.00,2.49,4.49,0.00,Female,East Midlands,5.79,1.16,5.24,38.39
2015,11427,Zero,41-45,Partner,Professional,Manual Worker,Own Home,">=35,000",Yes,Yes,...,172.86,28.98,7.99,6.99,Female,North West,170.14,143.32,220.72,530.94
2016,11433,1,26-30,Partner,Manual Worker,Secretarial/Admin,Own Home,"<20,000, >=17,500",No,No,...,75.44,34.95,1.49,8.98,Female,East Anglia,62.25,51.71,96.01,176.45
2017,11444,Zero,61-65,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,215.88,0.00,0.00,0.00,Male,West Midlands,28.38,38.39,55.05,117.75
2018,11447,Zero,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,0.48,0.00,0.00,0.00,Female,South West,18.69,0.91,16.48,43.66
2019,11450,Zero,26-30,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,21.98,1.00,0.00,0.00,Female,South East,4.80,3.92,7.91,32.21
2020,11454,Zero,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",Yes,No,...,0.00,0.00,0.00,0.00,Male,North West,0.00,3.67,3.67,-22.64
2021,11470,Zero,22-25,Single/Never Married,Student,Unknown,Live in Parental Hom,"< 4,000",No,No,...,123.41,0.00,19.98,27.95,Female,East Anglia,0.00,41.37,33.38,85.08
2022,11474,1,55-60,Partner,Professional,Retired,Own Home,"<20,000, >=17,500",No,No,...,22.34,0.00,0.00,72.46,Female,West Midlands,46.96,27.86,37.50,151.46
2023,11475,Zero,22-25,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,0.00,Female,South East,50.38,0.00,2.58,85.58
2024,11481,2,36-40,Partner,Other,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,0.00,5.49,21.48,0.00,Female,South West,84.27,11.08,27.65,104.03
2025,11488,Zero,22-25,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,0.00,Female,Unknown,16.78,25.72,39.71,99.46
2026,11496,2,41-45,Partner,Professional,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,80.92,Female,North West,0.00,15.98,2.50,29.00
2027,11503,1,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,0.00,Female,North West,24.39,2.00,16.49,84.08
2028,11509,Zero,61-65,Partner,Retired,Retired,Own Home,"< 8,000, >= 4,000",No,No,...,11.99,0.00,7.49,0.00,Female,North West,20.59,8.25,13.49,61.10
2029,11511,Zero,55-60,Partner,Unknown,Housewife,Own Home,"<27,500, >=25,000",Yes,No,...,9.99,9.30,11.97,48.98,Male,North West,86.93,25.59,55.39,170.07
2030,11514,2,41-45,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,0.00,Female,South East,52.77,0.00,14.07,76.18

In [8]:
bd_test['Revenue.Grid']=np.nan

In [9]:
bd_test=bd_test[bd_train.columns]

In [10]:
bd_all=pd.concat([bd_train,bd_test],axis=0)

In [11]:
bd_all

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.00,2.0,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.00,2.0,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2.0,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.00,2.0,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.00,2.0,Female,South West,48.58,9.58,20.65,56.17
5,10853,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,52.94,7.46,7.98,1.0,Male,North,77.47,38.37,85.35,200.23
6,1495,3,36-40,Partner,Secretarial/Admin,Unknown,Own Home,"<25,000, >=22,500",Yes,Yes,...,2.99,37.44,31.97,2.0,Female,Scotland,14.49,109.42,109.93,177.31
7,9602,1,41-45,Partner,Other,Professional,Own Home,"<15,000, >=12,500",No,No,...,25.98,2.99,0.00,2.0,Female,Unknown,161.69,54.87,98.65,306.17
8,5402,2,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,0.00,7.48,0.00,2.0,Female,West Midlands,2.00,1.25,0.00,46.31
9,6343,3,31-35,Partner,Business Manager,Manual Worker,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2.0,Female,South West,55.19,10.24,24.41,53.09
10,6370,3,26-30,Partner,Housewife,Business Manager,Own Home,"<27,500, >=25,000",No,No,...,0.00,22.88,0.00,2.0,Female,East Midlands,8.40,16.12,15.97,22.50
11,2768,2,41-45,Partner,Secretarial/Admin,Unknown,Own Home,"<27,500, >=25,000",No,Yes,...,53.95,16.47,378.22,1.0,Female,North West,37.37,129.05,87.47,193.85
12,8769,1,45-50,Partner,Manual Worker,Unknown,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,31.99,2.0,Male,South East,11.60,12.49,7.16,61.26
13,2097,1,26-30,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,19.96,0.00,0.80,2.0,Female,Unknown,60.47,14.78,30.89,93.72
14,4672,1,45-50,Partner,Housewife,Professional,Own Home,">=35,000",No,Yes,...,16.94,0.00,18.45,2.0,Female,South East,81.96,39.62,69.36,190.06
15,9816,Zero,51-55,Partner,Housewife,Retired,Own Home,"<27,500, >=25,000",No,No,...,1.99,0.00,0.00,2.0,Female,East Anglia,20.29,38.04,44.03,121.42
16,11226,Zero,65-70,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,0.00,1.99,0.00,2.0,Male,South East,6.70,8.83,14.07,12.45
17,2614,Zero,61-65,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,14.98,0.00,0.00,2.0,Female,South East,44.18,14.57,23.06,86.69
18,5135,2,36-40,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2.0,Female,North West,24.69,0.00,5.00,37.57
19,853,Zero,51-55,Partner,Secretarial/Admin,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,2.0,Female,East Anglia,12.10,9.24,9.24,2.13
20,7625,1,26-30,Partner,Secretarial/Admin,Manual Worker,Own Home,">=35,000",No,No,...,4.98,0.00,0.00,2.0,Female,North West,0.00,0.83,0.83,-19.21
21,4466,1,41-45,Divorced/Separated,Professional,Unknown,Own Home,"<25,000, >=22,500",No,No,...,0.00,19.44,0.00,2.0,Female,North West,0.00,6.57,3.33,40.82
22,9630,1,55-60,Partner,Professional,Professional,Own Home,">=35,000",Yes,Yes,...,9.99,4.38,30.00,2.0,Female,East Anglia,82.46,30.05,57.64,210.79
23,1738,Zero,65-70,Widowed,Retired,Unknown,Own Home,"< 4,000",No,No,...,0.00,0.00,0.00,2.0,Female,North West,10.89,19.57,27.06,-13.34
24,4014,2,26-30,Partner,Other,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2.0,Female,South East,16.28,5.50,7.41,91.96
25,5632,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,3.49,0.00,0.00,2.0,Female,South East,26.88,8.49,14.48,71.15
26,1724,2,51-55,Partner,Business Manager,Retired,Own Home,"<27,500, >=25,000",Yes,No,...,0.00,9.98,0.00,2.0,Male,North West,29.08,20.47,31.97,67.41
27,4123,3,31-35,Partner,Other,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2.0,Female,Northern Ireland,5.20,9.24,13.57,87.36
28,11056,1,31-35,Partner,Housewife,Professional,Rent Privately,">=35,000",No,No,...,2.00,0.00,0.00,2.0,Female,South East,27.98,10.42,21.07,70.55
29,1529,Zero,51-55,Partner,Business Manager,Manual Worker,Own Home,"<25,000, >=22,500",No,No,...,2.49,0.00,0.00,2.0,Male,North West,16.78,37.29,41.20,84.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,11362,2,31-35,Partner,Professional,Professional,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,NaN,Male,South East,5.39,6.49,7.66,-59.67
2002,11363,2,36-40,Partner,Professional,Secretarial/Admin,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,NaN,Male,South West,21.68,43.97,58.12,138.94
2003,11369,Zero,51-55,Partner,Other,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,19.49,3.49,0.00,NaN,Female,North West,17.79,10.24,11.16,34.53
2004,11373,Zero,55-60,Partner,Retired,Retired,Own Home,"<17,500, >=15,000",No,No,...,0.00,0.00,0.00,NaN,Female,South East,59.66,0.00,12.41,61.77
2005,11377,2,31-35,Partner,Professional,Business Manager,Own Home,">=35,000",No,No,...,0.00,1.99,0.00,NaN,Female,Scotland,53.06,8.16,34.06,58.17
2006,11380,Zero,65-70,Partner,Unknown,Unknown,Own Home,"<17,500, >=15,000",No,No,...,21.99,0.00,0.00,NaN,Male,West Midlands,7.69,13.82,16.65,105.79
2007,11382,Zero,31-35,Single/Never Married,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,NaN,Female,South East,62.38,5.50,24.24,59.78
2008,11383,Zero,45-50,Partner,Secretarial/Admin,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,121.44,NaN,Female,South East,37.50,23.15,11.27,21.40
2009,11386,2,36-40,Divorced/Separated,Secretarial/Admin,Unknown,Rent from Council/HA,"<15,000, >=12,500",No,No,...,16.47,32.16,319.84,NaN,Female,South East,66.05,102.05,66.03,228.27
2010,11398,Zero,51-55,Partner,Professional,Manual Worker,Own Home,"<25,000, >=22,500",Yes,Yes,...,0.00,0.00,0.00,NaN,Male,Scotland,3.20,2.67,5.33,6.65
2011,11400,1,45-50,Partner,Professional,Housewife,Own Home,"<15,000, >=12,500",No,Yes,...,0.00,0.00,0.00,NaN,Male,Scotland,33.68,4.25,11.25,38.23
2012,11410,Zero,41-45,Partner,Manual Worker,Manual Worker,Own Home,"<22,500, >=20,000",Yes,Yes,...,0.00,0.00,0.00,NaN,Female,South West,24.69,9.32,13.49,74.20
2013,11412,Zero,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,19.49,1.99,39.93,NaN,Male,North West,18.08,33.38,37.97,55.92
2014,11416,2,31-35,Partner,Housewife,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,2.49,4.49,0.00,NaN,Female,East Midlands,5.79,1.16,5.24,38.39
2015,11427,Zero,41-45,Partner,Professional,Manual Worker,Own Home,">=35,000",Yes,Yes,...,28.98,7.99,6.99,NaN,Female,North West,170.14,143.32,220.72,530.94
2016,11433,1,26-30,Partner,Manual Worker,Secretarial/Admin,Own Home,"<20,000, >=17,500",No,No,...,34.95,1.49,8.98,NaN,Female,East Anglia,62.25,51.71,96.01,176.45
2017,11444,Zero,61-65,Partner,Retired,Retired,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,0.00,NaN,Male,West Midlands,28.38,38.39,55.05,117.75
2018,11447,Zero,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,0.00,0.00,0.00,NaN,Female,South West,18.69,0.91,16.48,43.66
2019,11450,Zero,26-30,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,1.00,0.00,0.00,NaN,Female,South East,4.80,3.92,7.91,32.21
2020,11454,Zero,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",Yes,No,...,0.00,0.00,0.00,NaN,Male,North West,0.00,3.67,3.67,-22.64
2021,11470,Zero,22-25,Single/Never Married,Student,Unknown,Live in Parental Hom,"< 4,000",No,No,...,0.00,19.98,27.95,NaN,Female,East Anglia,0.00,41.37,33.38,85.08
2022,11474,1,55-60,Partner,Professional,Retired,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,72.46,NaN,Female,West Midlands,46.96,27.86,37.50,151.46
2023,11475,Zero,22-25,Partner,Secretarial/Admin,Secretarial/Admin,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,NaN,Female,South East,50.38,0.00,2.58,85.58
2024,11481,2,36-40,Partner,Other,Manual Worker,Own Home,"<17,500, >=15,000",No,No,...,5.49,21.48,0.00,NaN,Female,South West,84.27,11.08,27.65,104.03
2025,11488,Zero,22-25,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,NaN,Female,Unknown,16.78,25.72,39.71,99.46
2026,11496,2,41-45,Partner,Professional,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,80.92,NaN,Female,North West,0.00,15.98,2.50,29.00
2027,11503,1,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,NaN,Female,North West,24.39,2.00,16.49,84.08
2028,11509,Zero,61-65,Partner,Retired,Retired,Own Home,"< 8,000, >= 4,000",No,No,...,0.00,7.49,0.00,NaN,Female,North West,20.59,8.25,13.49,61.10
2029,11511,Zero,55-60,Partner,Unknown,Housewife,Own Home,"<27,500, >=25,000",Yes,No,...,9.30,11.97,48.98,NaN,Male,North West,86.93,25.59,55.39,170.07
2030,11514,2,41-45,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,NaN,Female,South East,52.77,0.00,14.07,76.18

In [12]:
bd_train.shape

(8124, 32)

In [13]:
bd_test.shape

(2031, 32)

In [14]:
bd_all.shape

(10155, 32)

In [15]:
bd_all['Revenue.Grid'].value_counts()

2.0    7261
1.0     863
Name: Revenue.Grid, dtype: int64

In [20]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

[('REF_NO', dtype('int64'), 10155),
 ('children', dtype('O'), 5),
 ('age_band', dtype('O'), 13),
 ('status', dtype('O'), 5),
 ('occupation', dtype('O'), 9),
 ('occupation_partner', dtype('O'), 9),
 ('home_status', dtype('O'), 5),
 ('family_income', dtype('O'), 13),
 ('self_employed', dtype('O'), 2),
 ('self_employed_partner', dtype('O'), 2),
 ('year_last_moved', dtype('int64'), 95),
 ('TVarea', dtype('O'), 14),
 ('post_code', dtype('O'), 10040),
 ('post_area', dtype('O'), 2039),
 ('Average.Credit.Card.Transaction', dtype('float64'), 1411),
 ('Balance.Transfer', dtype('float64'), 2183),
 ('Term.Deposit', dtype('float64'), 1419),
 ('Life.Insurance', dtype('float64'), 3111),
 ('Medical.Insurance', dtype('float64'), 1589),
 ('Average.A.C.Balance', dtype('float64'), 2223),
 ('Personal.Loan', dtype('float64'), 1760),
 ('Investment.in.Mutual.Fund', dtype('float64'), 2470),
 ('Investment.Tax.Saving.Bond', dtype('float64'), 832),
 ('Home.Loan', dtype('float64'), 884),
 ('Online.Purchase.Amount', dtype('float64'), 1319),
 ('Revenue.Grid', dtype('float64'), 2),
 ('gender', dtype('O'), 3),
 ('region', dtype('O'), 13),
 ('Investment.in.Commudity', dtype('float64'), 3558),
 ('Investment.in.Equity', dtype('float64'), 3250),
 ('Investment.in.Derivative', dtype('float64'), 3796),
 ('Portfolio.Balance', dtype('float64'), 8317)]

In [21]:
file=r'E:\lanchan VIP files\data scienece\python\Data\Existing Base.csv'

In [36]:
bd=pd.read_csv(file)

In [37]:
bd

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment Tax Saving Bond,Home Loan,Online Purchase Amount,Revenue Grid,gender,region,Investment in Commudity,Investment in Equity,Investment in Derivative,Portfolio Balance
0,1,Zero,51-55,Partner,Manual Worker,Secretarial/Admin,Own Home,"<17,500, >=15,000",No,No,...,19.99,0.00,0.00,1,Female,Wales,74.67,18.66,32.32,89.43
1,2,Zero,55-60,Single/Never Married,Retired,Retired,Own Home,"<27,500, >=25,000",No,No,...,0.00,0.00,0.00,2,Female,North West,20.19,0.00,4.33,22.78
2,3,Zero,26-30,Single/Never Married,Professional,Other,Own Home,"<30,000, >=27,500",Yes,No,...,0.00,3.49,0.00,2,Male,North,98.06,31.07,80.96,171.78
3,5,Zero,18-21,Single/Never Married,Professional,Manual Worker,Own Home,"<15,000, >=12,500",No,No,...,0.00,0.00,0.00,2,Female,West Midlands,4.10,14.15,17.57,-41.70
4,6,Zero,45-50,Partner,Business Manager,Unknown,Own Home,"<30,000, >=27,500",No,No,...,0.00,45.91,25.98,2,Female,Scotland,70.16,55.86,80.44,235.02
5,7,Zero,55-60,Partner,Secretarial/Admin,Manual Worker,Own Home,"<17,500, >=15,000",No,Yes,...,0.00,0.00,0.00,2,Female,East Anglia,51.08,14.83,36.49,72.30
6,8,Zero,45-50,Partner,Professional,Manual Worker,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,West Midlands,33.27,18.90,25.48,115.28
7,9,1,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,41.71,35.41,11.99,2,Female,Scotland,48.67,60.23,63.58,162.40
8,10,Zero,36-40,Single/Never Married,Secretarial/Admin,Unknown,Own Home,"<17,500, >=15,000",No,No,...,12.48,7.21,8.99,2,Male,South East,25.29,61.65,63.11,105.20
9,11,2,36-40,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,10.49,7.98,2,Female,North West,64.87,13.74,41.72,93.09
10,13,Zero,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,5.99,0.00,2,Female,Wales,5.00,1.00,0.00,-18.84
11,14,Zero,45-50,Partner,Business Manager,Professional,Own Home,">=35,000",No,No,...,0.00,9.99,0.00,2,Female,Wales,42.29,20.58,34.32,129.71
12,15,Zero,51-55,Widowed,Professional,Unknown,Own Home,">=35,000",No,No,...,0.00,4.48,12.98,2,Female,North West,70.84,27.56,65.52,175.41
13,16,Zero,31-35,Single/Never Married,Manual Worker,Secretarial/Admin,Own Home,"<25,000, >=22,500",No,No,...,2.00,0.00,0.00,2,Male,South West,79.87,20.16,42.98,77.14
14,17,1,31-35,Partner,Secretarial/Admin,Business Manager,Own Home,"<30,000, >=27,500",No,No,...,7.49,18.46,13.98,2,Female,West Midlands,69.68,19.48,27.07,78.41
15,18,Zero,26-30,Partner,Unknown,Professional,Own Home,">=35,000",Yes,No,...,0.00,39.96,0.00,2,Female,Scotland,63.87,36.64,59.96,115.89
16,19,Zero,41-45,Partner,Secretarial/Admin,Unknown,Own Home,">=35,000",No,Yes,...,0.00,0.00,0.00,2,Female,West Midlands,32.78,34.09,51.50,129.15
17,20,Zero,41-45,Divorced/Separated,Professional,Unknown,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,27.99,2,Female,West Midlands,69.78,31.57,48.90,150.56
18,21,1,41-45,Partner,Secretarial/Admin,Manual Worker,Own Home,"<12,500, >=10,000",No,No,...,12.49,21.46,0.00,2,Female,West Midlands,39.48,38.63,62.04,134.44
19,23,Zero,41-45,Divorced/Separated,Secretarial/Admin,Unknown,Own Home,"<10,000, >= 8,000",No,No,...,0.00,0.00,16.99,2,Female,South West,64.57,45.38,78.53,207.07
20,26,Zero,26-30,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,East Midlands,15.20,5.08,17.74,27.95
21,27,2,31-35,Partner,Business Manager,Business Manager,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,North West,4.20,0.00,3.50,-0.20
22,28,Zero,71+,Partner,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,9.99,0.00,0.00,2,Female,South West,75.26,56.70,80.93,144.84
23,29,3,36-40,Partner,Business Manager,Professional,Own Home,"<27,500, >=25,000",No,Yes,...,25.61,31.43,45.98,2,Male,Scotland,90.23,51.42,71.83,181.10
24,30,1,26-30,Partner,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,Unknown,54.37,22.57,58.22,130.59
25,31,1,22-25,Partner,Secretarial/Admin,Manual Worker,Own Home,"<22,500, >=20,000",No,Yes,...,19.49,20.76,0.00,2,Female,South East,16.59,20.53,23.73,48.80
26,33,1,45-50,Partner,Manual Worker,Unknown,Own Home,"<17,500, >=15,000",No,Yes,...,0.00,0.00,0.00,2,Male,East Midlands,49.68,18.41,29.06,82.90
27,34,Zero,22-25,Partner,Professional,Professional,Own Home,">=35,000",No,Yes,...,5.99,8.69,24.95,2,Female,South West,13.49,18.18,23.82,103.29
28,35,Zero,65-70,Widowed,Retired,Unknown,Own Home,"<15,000, >=12,500",No,No,...,9.99,11.47,0.00,2,Female,Scotland,32.98,3.58,13.66,13.55
29,36,2,36-40,Partner,Secretarial/Admin,Business Manager,Own Home,">=35,000",No,No,...,7.97,23.96,15.96,2,Female,Unknown,138.91,41.61,63.25,193.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10125,11484,Zero,51-55,Partner,Professional,Unknown,Own Home,"<25,000, >=22,500",No,Yes,...,0.00,0.00,0.00,2,Female,South West,34.98,16.07,28.81,56.82
10126,11485,2,31-35,Partner,Professional,Unknown,Own Home,">=35,000",No,Yes,...,0.00,0.00,0.00,2,Male,South West,12.69,6.82,14.07,6.97
10127,11486,Zero,51-55,Partner,Secretarial/Admin,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,2,Female,East Midlands,2.70,4.91,7.16,53.63
10128,11487,Zero,45-50,Partner,Other,Retired,Own Home,">=35,000",No,No,...,0.00,1.99,0.00,2,Female,West Midlands,55.36,1.16,29.64,61.10
10129,11488,Zero,22-25,Single/Never Married,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,Unknown,16.78,25.72,39.71,99.46
10130,11489,Zero,51-55,Partner,Secretarial/Admin,Unknown,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,19.49,2,Female,Wales,99.54,3.25,38.96,160.63
10131,11491,Zero,71+,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,4.49,0.00,0.00,2,Female,South East,62.67,21.90,27.23,127.49
10132,11492,Zero,41-45,Partner,Secretarial/Admin,Unknown,Rent from Council/HA,"<12,500, >=10,000",No,No,...,1.00,36.11,114.42,2,Female,Scotland,127.23,57.15,81.27,251.14
10133,11493,2,22-25,Partner,Professional,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,1,Female,Scotland,44.58,29.54,34.45,81.84
10134,11494,1,65-70,Partner,Secretarial/Admin,Professional,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,0.00,2,Female,South East,48.88,4.17,11.33,96.55
10135,11495,Zero,45-50,Partner,Secretarial/Admin,Unknown,Own Home,"<17,500, >=15,000",No,No,...,0.00,0.00,0.00,2,Female,North West,0.00,7.50,7.50,35.57
10136,11496,2,41-45,Partner,Professional,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,80.92,1,Female,North West,0.00,15.98,2.50,29.00
10137,11497,Zero,26-30,Partner,Business Manager,Secretarial/Admin,Own Home,"<30,000, >=27,500",No,No,...,1.00,0.00,23.42,2,Male,North West,11.69,8.90,14.74,55.42
10138,11498,2,36-40,Divorced/Separated,Professional,Unknown,Own Home,"<25,000, >=22,500",No,No,...,0.00,0.00,11.49,2,Female,Unknown,23.99,5.58,5.00,45.65
10139,11499,Zero,55-60,Widowed,Retired,Retired,Own Home,"<22,500, >=20,000",No,No,...,0.00,0.00,0.00,2,Female,South East,21.29,5.16,12.24,42.64
10140,11500,Zero,51-55,Partner,Retired,Other,Own Home,"<20,000, >=17,500",No,No,...,0.00,0.00,0.00,2,Male,East Midlands,14.58,15.07,24.81,45.58
10141,11501,1,18-21,Single/Never Married,Secretarial/Admin,Unknown,Live in Parental Hom,"< 4,000",No,No,...,0.00,0.00,0.00,2,Female,Wales,70.17,24.07,52.14,152.06
10142,11502,2,26-30,Partner,Unknown,Secretarial/Admin,Own Home,"<22,500, >=20,000",No,No,...,12.49,0.00,22.97,2,Female,Wales,27.99,28.06,28.39,93.87
10143,11503,1,45-50,Partner,Business Manager,Professional,Own Home,"<30,000, >=27,500",No,No,...,0.00,0.00,0.00,2,Female,North West,24.39,2.00,16.49,84.08
10144,11504,1,51-55,Partner,Business Manager,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Male,North West,26.39,8.49,9.33,9.29
10145,11505,Zero,51-55,Partner,Professional,Retired,Own Home,"<30,000, >=27,500",No,No,...,4.99,18.72,3.49,2,Female,Scotland,3.49,10.78,9.99,46.21
10146,11506,Zero,45-50,Partner,Housewife,Professional,Own Home,"<27,500, >=25,000",No,No,...,39.49,0.00,0.00,1,Female,East Anglia,0.00,6.58,6.58,46.86
10147,11507,3,31-35,Divorced/Separated,Housewife,Professional,Own Home,"<27,500, >=25,000",No,Yes,...,0.00,0.00,0.00,1,Female,East Midlands,54.17,6.91,52.05,138.70
10148,11509,Zero,61-65,Partner,Retired,Retired,Own Home,"< 8,000, >= 4,000",No,No,...,0.00,7.49,0.00,2,Female,North West,20.59,8.25,13.49,61.10
10149,11511,Zero,55-60,Partner,Unknown,Housewife,Own Home,"<27,500, >=25,000",Yes,No,...,9.30,11.97,48.98,2,Male,North West,86.93,25.59,55.39,170.07
10150,11512,1,45-50,Partner,Secretarial/Admin,Manual Worker,Own Home,"<30,000, >=27,500",No,No,...,4.49,0.00,0.00,2,Female,South East,7.29,3.50,9.57,10.23
10151,11513,Zero,45-50,Partner,Manual Worker,Manual Worker,Rent from Council/HA,"<25,000, >=22,500",No,No,...,0.00,0.00,0.00,2,Female,South East,62.27,3.00,36.40,102.62
10152,11514,2,41-45,Partner,Housewife,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.00,2,Female,South East,52.77,0.00,14.07,76.18
10153,11516,Zero,51-55,Partner,Other,Manual Worker,Own Home,"<10,000, >= 8,000",No,Yes,...,0.00,7.98,0.00,2,Female,South East,7.20,2.99,1.66,4.79
10154,11518,1,31-35,Partner,Unknown,Housewife,Own Home,"<27,500, >=25,000",No,No,...,19.49,0.00,0.00,2,Female,Wales,72.14,45.98,99.35,227.12

In [24]:
bd['Revenue Grid'].value_counts()

2    9069
1    1086
Name: Revenue Grid, dtype: int64

In [25]:
bd.shape

(10155, 32)

In [26]:
bd['post_area'].value_counts()

PR5     35
PR4     33
TQ12    28
WA7     28
M12     26
WA4     26
BH23    25
LE7     25
M33     24
LE9     24
PR8     22
SK8     22
M14     21
HD7     21
M13     21
TS5     21
WA5     21
PR2     20
DY8     20
L12     20
NG9     20
PR6     20
L6      20
L13     20
WA3     20
PR7     20
CF62    20
L8      19
GL52    19
SL6     19
        ..
B48      1
LL48     1
B23      1
TW5      1
FK13     1
ST6      1
RH8      1
SW3      1
BT7      1
BD9      1
B49      1
FK15     1
DT10     1
DD4      1
PE15     1
WA40     1
TN17     1
KY14     1
KW9      1
NE48     1
KT11     1
NW10     1
IV6      1
NW8      1
AB34     1
EH44     1
HP8      1
WS2      1
NR27     1
CW4      1
Name: post_area, Length: 2039, dtype: int64

In [27]:
bd.dtypes

REF_NO                               int64
children                            object
age_band                            object
status                              object
occupation                          object
occupation_partner                  object
home_status                         object
family_income                       object
self_employed                       object
self_employed_partner               object
year_last_moved                      int64
TVarea                              object
post_code                           object
post_area                           object
Average Credit Card Transaction    float64
Balance Transfer                   float64
Term Deposit                       float64
Life Insurance                     float64
Medical Insurance                  float64
Average A/C Balance                float64
Personal Loan                      float64
Investment in Mutual Fund          float64
Investment Tax Saving Bond         float64
Home Loan                          float64
Online Purchase Amount             float64
Revenue Grid                         int64
gender                              object
region                              object
Investment in Commudity            float64
Investment in Equity               float64
Investment in Derivative           float64
Portfolio Balance                  float64
dtype: object

In [28]:
list(zip(bd.columns,bd.dtypes,bd.nunique()))

[('REF_NO', dtype('int64'), 10155),
 ('children', dtype('O'), 5),
 ('age_band', dtype('O'), 13),
 ('status', dtype('O'), 5),
 ('occupation', dtype('O'), 9),
 ('occupation_partner', dtype('O'), 9),
 ('home_status', dtype('O'), 5),
 ('family_income', dtype('O'), 13),
 ('self_employed', dtype('O'), 2),
 ('self_employed_partner', dtype('O'), 2),
 ('year_last_moved', dtype('int64'), 95),
 ('TVarea', dtype('O'), 14),
 ('post_code', dtype('O'), 10040),
 ('post_area', dtype('O'), 2039),
 ('Average Credit Card Transaction', dtype('float64'), 1411),
 ('Balance Transfer', dtype('float64'), 2183),
 ('Term Deposit', dtype('float64'), 1419),
 ('Life Insurance', dtype('float64'), 3111),
 ('Medical Insurance', dtype('float64'), 1589),
 ('Average A/C Balance', dtype('float64'), 2223),
 ('Personal Loan', dtype('float64'), 1760),
 ('Investment in Mutual Fund', dtype('float64'), 2470),
 ('Investment Tax Saving Bond', dtype('float64'), 832),
 ('Home Loan', dtype('float64'), 884),
 ('Online Purchase Amount', dtype('float64'), 1319),
 ('Revenue Grid', dtype('int64'), 2),
 ('gender', dtype('O'), 3),
 ('region', dtype('O'), 13),
 ('Investment in Commudity', dtype('float64'), 3558),
 ('Investment in Equity', dtype('float64'), 3250),
 ('Investment in Derivative', dtype('float64'), 3796),
 ('Portfolio Balance', dtype('float64'), 8317)]

In [29]:
# REF_NO,post_code , post_area  : drop 
# children : Zero : 0 , 4+ : 4 and then convert to numeric
# age_band : dummies 
# status , occupation , occupation_partner , home_status,family_income : dummies
# self_employed, ` : dummies
# TVArea , Region , gender : dummies
# Revenue Grid : 1,2 : 1,0

In [38]:
bd.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [39]:
#bd.loc[bd["children"]=="Zero","children"]="0"
#bd.loc[bd["children"]=="4+","children"]="4"
#bd["children"]=pd.to_numeric(bd["children"],errors="coerce")
bd['children'].value_counts()

Zero    6208
1       1848
2       1607
3        473
4+        19
Name: children, dtype: int64

In [40]:
bd['children']=np.where(bd['children']=='Zero','0',bd['children'])
bd['children']=np.where(bd['children']=='4+',4,bd['children'])
bd['children']=pd.to_numeric(bd['children'],errors='coerce')

In [41]:
bd['family_income'].value_counts()

>=35,000             2517
<27,500, >=25,000    1227
<30,000, >=27,500     994
<25,000, >=22,500     833
<20,000, >=17,500     683
<12,500, >=10,000     677
<17,500, >=15,000     634
<15,000, >=12,500     629
<22,500, >=20,000     590
<10,000, >= 8,000     563
< 8,000, >= 4,000     402
< 4,000               278
Unknown               128
Name: family_income, dtype: int64

In [42]:
k=bd['family_income'].str.split('>=',expand=True)

In [43]:
k

               0       1
0      <17,500,   15,000
1      <27,500,   25,000
2      <30,000,   27,500
3      <15,000,   12,500
4      <30,000,   27,500
5      <17,500,   15,000
6                 35,000
7                 35,000
8      <17,500,   15,000
9                 35,000
10     <12,500,   10,000
11                35,000
12                35,000
13     <25,000,   22,500
14     <30,000,   27,500
15                35,000
16                35,000
17     <25,000,   22,500
18     <12,500,   10,000
19     <10,000,    8,000
20                35,000
21                35,000
22     <22,500,   20,000
23     <27,500,   25,000
24                35,000
25     <22,500,   20,000
26     <17,500,   15,000
27                35,000
28     <15,000,   12,500
29                35,000
...          ...     ...
10125  <25,000,   22,500
10126             35,000
10127  <30,000,   27,500
10128             35,000
10129             35,000
10130  <20,000,   17,500
10131  <12,500,   10,000
10132  <12,500,   10,000
10133  <30,000,   27,500
10134  <20,000,   17,500
10135  <17,500,   15,000
10136  <30,000,   27,500
10137  <30,000,   27,500
10138  <25,000,   22,500
10139  <22,500,   20,000
10140  <20,000,   17,500
10141    < 4,000    None
10142  <22,500,   20,000
10143  <30,000,   27,500
10144             35,000
10145  <30,000,   27,500
10146  <27,500,   25,000
10147  <27,500,   25,000
10148  < 8,000,    4,000
10149  <27,500,   25,000
10150  <30,000,   27,500
10151  <25,000,   22,500
10152             35,000
10153  <10,000,    8,000
10154  <27,500,   25,000

[10155 rows x 2 columns]

In [46]:
k[0]=k[0].str.replace('<','')
k[1]=k[1].str.replace('<','')
k[0]=k[0].str.replace(',','')
k[1]=k[1].str.replace(',','')

In [47]:
k

            0      1
0      17500   15000
1      27500   25000
2      30000   27500
3      15000   12500
4      30000   27500
5      17500   15000
6              35000
7              35000
8      17500   15000
9              35000
10     12500   10000
11             35000
12             35000
13     25000   22500
14     30000   27500
15             35000
16             35000
17     25000   22500
18     12500   10000
19     10000    8000
20             35000
21             35000
22     22500   20000
23     27500   25000
24             35000
25     22500   20000
26     17500   15000
27             35000
28     15000   12500
29             35000
...       ...    ...
10125  25000   22500
10126          35000
10127  30000   27500
10128          35000
10129          35000
10130  20000   17500
10131  12500   10000
10132  12500   10000
10133  30000   27500
10134  20000   17500
10135  17500   15000
10136  30000   27500
10137  30000   27500
10138  25000   22500
10139  22500   20000
10140  20000   17500
10141    4000   None
10142  22500   20000
10143  30000   27500
10144          35000
10145  30000   27500
10146  27500   25000
10147  27500   25000
10148   8000    4000
10149  27500   25000
10150  30000   27500
10151  25000   22500
10152          35000
10153  10000    8000
10154  27500   25000

[10155 rows x 2 columns]

In [48]:
#where 1st column empty take from 2nd
#where ever its none also

k.loc[k[0]=='',0]=k[1]
k.loc[k[1].isnull(),1]=k[0]

In [49]:
k

            0      1
0      17500   15000
1      27500   25000
2      30000   27500
3      15000   12500
4      30000   27500
5      17500   15000
6       35000  35000
7       35000  35000
8      17500   15000
9       35000  35000
10     12500   10000
11      35000  35000
12      35000  35000
13     25000   22500
14     30000   27500
15      35000  35000
16      35000  35000
17     25000   22500
18     12500   10000
19     10000    8000
20      35000  35000
21      35000  35000
22     22500   20000
23     27500   25000
24      35000  35000
25     22500   20000
26     17500   15000
27      35000  35000
28     15000   12500
29      35000  35000
...       ...    ...
10125  25000   22500
10126   35000  35000
10127  30000   27500
10128   35000  35000
10129   35000  35000
10130  20000   17500
10131  12500   10000
10132  12500   10000
10133  30000   27500
10134  20000   17500
10135  17500   15000
10136  30000   27500
10137  30000   27500
10138  25000   22500
10139  22500   20000
10140  20000   17500
10141    4000   4000
10142  22500   20000
10143  30000   27500
10144   35000  35000
10145  30000   27500
10146  27500   25000
10147  27500   25000
10148   8000    4000
10149  27500   25000
10150  30000   27500
10151  25000   22500
10152   35000  35000
10153  10000    8000
10154  27500   25000

[10155 rows x 2 columns]

In [50]:
k[0]=pd.to_numeric(k[0],errors='coerce')
k[1]=pd.to_numeric(k[1],errors='coerce')

bd['fi']=0.5*(k[0]+k[1])
del bd['family_income']

In [53]:
bd['Revenue Grid'].value_counts()

0    9069
1    1086
Name: Revenue Grid, dtype: int64

In [52]:
bd['Revenue Grid']=(bd['Revenue Grid']==1).astype(int)

In [54]:
cat_var=bd.select_dtypes(['object']).columns

In [55]:
cat_var

Index(['age_band', 'status', 'occupation', 'occupation_partner', 'home_status',
       'self_employed', 'self_employed_partner', 'TVarea', 'gender', 'region'],
      dtype='object')

In [56]:
for col in cat_var:
    dummy=pd.get_dummies(bd[col],drop_first=True,prefix=col)
    bd=pd.concat([bd,dummy],axis=1)
    del bd[col]
del dummy

In [57]:
bd.shape

(10155, 84)

In [58]:
from sklearn.model_selection import train_test_split

In [60]:
bd_train,bd_test=train_test_split(bd,test_size=0.2,random_state=2)
bd_train.isnull().sum()

children                             0
year_last_moved                      0
Average Credit Card Transaction      0
Balance Transfer                     0
Term Deposit                         0
Life Insurance                       0
Medical Insurance                    0
Average A/C Balance                  0
Personal Loan                        0
Investment in Mutual Fund            0
Investment Tax Saving Bond           0
Home Loan                            0
Online Purchase Amount               0
Revenue Grid                         0
Investment in Commudity              0
Investment in Equity                 0
Investment in Derivative             0
Portfolio Balance                    0
fi                                 107
age_band_22-25                       0
age_band_26-30                       0
age_band_31-35                       0
age_band_36-40                       0
age_band_41-45                       0
age_band_45-50                       0
age_band_51-55                       0
age_band_55-60                       0
age_band_61-65                       0
age_band_65-70                       0
age_band_71+                         0
                                  ...
home_status_Unclassified             0
self_employed_Yes                    0
self_employed_partner_Yes            0
TVarea_Border                        0
TVarea_Carlton                       0
TVarea_Central                       0
TVarea_Grampian                      0
TVarea_Granada                       0
TVarea_HTV                           0
TVarea_Meridian                      0
TVarea_Scottish TV                   0
TVarea_TV South West                 0
TVarea_Tyne Tees                     0
TVarea_Ulster                        0
TVarea_Unknown                       0
TVarea_Yorkshire                     0
gender_Male                          0
gender_Unknown                       0
region_East Anglia                   0
region_East Midlands                 0
region_Isle of Man                   0
region_North                         0
region_North West                    0
region_Northern Ireland              0
region_Scotland                      0
region_South East                    0
region_South West                    0
region_Unknown                       0
region_Wales                         0
region_West Midlands                 0
Length: 84, dtype: int64

In [61]:
bd_test.isnull().sum()

children                            0
year_last_moved                     0
Average Credit Card Transaction     0
Balance Transfer                    0
Term Deposit                        0
Life Insurance                      0
Medical Insurance                   0
Average A/C Balance                 0
Personal Loan                       0
Investment in Mutual Fund           0
Investment Tax Saving Bond          0
Home Loan                           0
Online Purchase Amount              0
Revenue Grid                        0
Investment in Commudity             0
Investment in Equity                0
Investment in Derivative            0
Portfolio Balance                   0
fi                                 21
age_band_22-25                      0
age_band_26-30                      0
age_band_31-35                      0
age_band_36-40                      0
age_band_41-45                      0
age_band_45-50                      0
age_band_51-55                      0
age_band_55-60                      0
age_band_61-65                      0
age_band_65-70                      0
age_band_71+                        0
                                   ..
home_status_Unclassified            0
self_employed_Yes                   0
self_employed_partner_Yes           0
TVarea_Border                       0
TVarea_Carlton                      0
TVarea_Central                      0
TVarea_Grampian                     0
TVarea_Granada                      0
TVarea_HTV                          0
TVarea_Meridian                     0
TVarea_Scottish TV                  0
TVarea_TV South West                0
TVarea_Tyne Tees                    0
TVarea_Ulster                       0
TVarea_Unknown                      0
TVarea_Yorkshire                    0
gender_Male                         0
gender_Unknown                      0
region_East Anglia                  0
region_East Midlands                0
region_Isle of Man                  0
region_North                        0
region_North West                   0
region_Northern Ireland             0
region_Scotland                     0
region_South East                   0
region_South West                   0
region_Unknown                      0
region_Wales                        0
region_West Midlands                0
Length: 84, dtype: int64

In [63]:
for col in ['children','fi']:
    bd_train.loc[bd_train[col].isnull(),col]=bd_train[col].mean()
    bd_test.loc[bd_test[col].isnull(),col]=bd_train[col].mean()

C:\Users\sujith\Anaconda3\lib\site-packages\pandas\core\indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [65]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [66]:
logr=LogisticRegression(class_weight='balanced')

In [68]:
x_train=bd_train.drop('Revenue Grid',axis=1)
y_train=bd_train['Revenue Grid']
x_test=bd_test.drop('Revenue Grid',axis=1)
y_test=bd_test['Revenue Grid']

In [70]:
logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [71]:
logr.predict(x_test)

array([0, 0, 0, ..., 1, 1, 0])

In [78]:
logr.predict_proba(x_test)

array([[0.98420377, 0.01579623],
       [0.92370687, 0.07629313],
       [0.9244626 , 0.0755374 ],
       ...,
       [0.12980274, 0.87019726],
       [0.25209663, 0.74790337],
       [0.93463717, 0.06536283]])

In [79]:
logr.classes_

array([0, 1])

In [80]:
predicted_probs=logr.predict_proba(x_test)[:,1]

In [81]:
predicted_probs

array([0.01579623, 0.07629313, 0.0755374 , ..., 0.87019726, 0.74790337,
       0.06536283])

In [82]:
roc_auc_score(y_test,predicted_probs)

0.9462235156929402

In [83]:
cutoffs=np.linspace(0.001,0.99,99)
cutoffs

array([0.001     , 0.01109184, 0.02118367, 0.03127551, 0.04136735,
       0.05145918, 0.06155102, 0.07164286, 0.08173469, 0.09182653,
       0.10191837, 0.1120102 , 0.12210204, 0.13219388, 0.14228571,
       0.15237755, 0.16246939, 0.17256122, 0.18265306, 0.1927449 ,
       0.20283673, 0.21292857, 0.22302041, 0.23311224, 0.24320408,
       0.25329592, 0.26338776, 0.27347959, 0.28357143, 0.29366327,
       0.3037551 , 0.31384694, 0.32393878, 0.33403061, 0.34412245,
       0.35421429, 0.36430612, 0.37439796, 0.3844898 , 0.39458163,
       0.40467347, 0.41476531, 0.42485714, 0.43494898, 0.44504082,
       0.45513265, 0.46522449, 0.47531633, 0.48540816, 0.4955    ,
       0.50559184, 0.51568367, 0.52577551, 0.53586735, 0.54595918,
       0.55605102, 0.56614286, 0.57623469, 0.58632653, 0.59641837,
       0.6065102 , 0.61660204, 0.62669388, 0.63678571, 0.64687755,
       0.65696939, 0.66706122, 0.67715306, 0.6872449 , 0.69733673,
       0.70742857, 0.71752041, 0.72761224, 0.73770408, 0.74779592,
       0.75788776, 0.76797959, 0.77807143, 0.78816327, 0.7982551 ,
       0.80834694, 0.81843878, 0.82853061, 0.83862245, 0.84871429,
       0.85880612, 0.86889796, 0.8789898 , 0.88908163, 0.89917347,
       0.90926531, 0.91935714, 0.92944898, 0.93954082, 0.94963265,
       0.95972449, 0.96981633, 0.97990816, 0.99      ])

In [85]:
train_score=logr.predict_proba(x_train)[:,1]
real=y_train

In [94]:
KS_all=[]
for cutoff in cutoffs:
    predicted=(train_score>cutoff).astype(int)
    
    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
    
    KS=(TP/P)-(FP/N)
    
    KS_all.append(KS)
    
# do this for fb

In [107]:
mycutoff=cutoffs[KS_all==max(KS_all)]
mycutoff

array([0.44504082])

In [96]:
logr.intercept_

array([-2.56703561])

In [97]:
list(zip(x_train.columns,logr.coef_[0]))

[('children', 0.060306256781727845),
 ('year_last_moved', -6.256108268815802e-05),
 ('Average Credit Card Transaction', 0.022248828726055096),
 ('Balance Transfer', -0.006501712756629205),
 ('Term Deposit', -0.02000572298713658),
 ('Life Insurance', 0.0017258751436014898),
 ('Medical Insurance', -0.024626997149354377),
 ('Average A/C Balance', -0.014500393726365185),
 ('Personal Loan', -0.04473060921991578),
 ('Investment in Mutual Fund', -0.012710647145894788),
 ('Investment Tax Saving Bond', 0.0798395059164786),
 ('Home Loan', -0.08181143958948377),
 ('Online Purchase Amount', 0.05726882535727951),
 ('Investment in Commudity', 0.006396723422552624),
 ('Investment in Equity', 0.002347904326007628),
 ('Investment in Derivative', 0.073115508236388),
 ('Portfolio Balance', -0.0002720663524674196),
 ('fi', 4.205460515724539e-06),
 ('age_band_22-25', -0.4274708327825343),
 ('age_band_26-30', -0.20467330212585733),
 ('age_band_31-35', -0.4908244479981635),
 ('age_band_36-40', -0.4237010555846527),
 ('age_band_41-45', -1.0120906514451486),
 ('age_band_45-50', -0.3185656877400892),
 ('age_band_51-55', -0.3385473158439702),
 ('age_band_55-60', -0.4051489781810367),
 ('age_band_61-65', -0.14106146067516923),
 ('age_band_65-70', 0.023438962371704314),
 ('age_band_71+', 0.22228152761191947),
 ('age_band_Unknown', -0.2519908436119366),
 ('status_Partner', 0.09893633667535331),
 ('status_Single/Never Married', -0.12049919579417064),
 ('status_Unknown', 0.4415853070142063),
 ('status_Widowed', -0.6681578220614532),
 ('occupation_Housewife', -0.3540231612311652),
 ('occupation_Manual Worker', 0.11672088016137157),
 ('occupation_Other', -0.06834809385359955),
 ('occupation_Professional', -0.26369927724444625),
 ('occupation_Retired', -0.4866645819680129),
 ('occupation_Secretarial/Admin', -0.3430656301928339),
 ('occupation_Student', -0.09224653305126064),
 ('occupation_Unknown', -0.27163223059830593),
 ('occupation_partner_Housewife', -0.4767370785479519),
 ('occupation_partner_Manual Worker', 0.10639098041176574),
 ('occupation_partner_Other', 0.055001733358166),
 ('occupation_partner_Professional', 0.05309770468625469),
 ('occupation_partner_Retired', -0.19652879632318462),
 ('occupation_partner_Secretarial/Admin', -0.049987275126025306),
 ('occupation_partner_Student', 0.516622330566407),
 ('occupation_partner_Unknown', 0.07054231488363054),
 ('home_status_Own Home', 0.3346200469867976),
 ('home_status_Rent Privately', 0.2905095609419601),
 ('home_status_Rent from Council/HA', 0.0983648375490489),
 ('home_status_Unclassified', -0.11027657012637333),
 ('self_employed_Yes', 0.17351724753672126),
 ('self_employed_partner_Yes', 0.18254179357503736),
 ('TVarea_Border', -0.20414355661930803),
 ('TVarea_Carlton', 0.2654558772661966),
 ('TVarea_Central', 0.18293785949421157),
 ('TVarea_Grampian', 0.02682479583758574),
 ('TVarea_Granada', 0.40490152693720705),
 ('TVarea_HTV', -0.24257083034300525),
 ('TVarea_Meridian', -0.22450506950595858),
 ('TVarea_Scottish TV', 0.47845022671296034),
 ('TVarea_TV South West', 0.5916028867346798),
 ('TVarea_Tyne Tees', 0.7934111280412471),
 ('TVarea_Ulster', 0.09510789061336523),
 ('TVarea_Unknown', 0.9951180701472344),
 ('TVarea_Yorkshire', 0.34516530260302913),
 ('gender_Male', 0.3532727144319264),
 ('gender_Unknown', -0.33436100444589295),
 ('region_East Anglia', 0.07152774713808156),
 ('region_East Midlands', -0.19767676446986626),
 ('region_Isle of Man', -0.8303564556740516),
 ('region_North', -0.7265056692439684),
 ('region_North West', -0.0843300842157765),
 ('region_Northern Ireland', 0.09510789061336523),
 ('region_Scotland', 0.061038555409304626),
 ('region_South East', -0.1913149823411572),
 ('region_South West', -0.03062510936956939),
 ('region_Unknown', -0.27380040351495555),
 ('region_Wales', 0.1287355433933889),
 ('region_West Midlands', -0.2976006074038544)]

In [101]:
test_score=logr.predict_proba(x_test)[:,1]

In [102]:
pd.DataFrame(test_score).to_csv("E:\lanchan VIP files\data scienece\python\Data\mysub\mylogisticsubmission.csv",index=False)

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [108]:
test_classes=(test_score>mycutoff).astype(int)

In [110]:
pd.DataFrame(test_classes).to_csv("E:\lanchan VIP files\data scienece\python\Data\mysub\mylogisticsubmission1.csv",index=False)