In [ ]:
4+5
# run or execute the code shift+enter

In [ ]:
4/5

4-5

In [ ]:
4*5
#shortcut for inserting a cell above the current cell :esc+A
#shortcut for inserting a cell below the current cell :esc+B
# select and merge esc+shift+up/down [for selecting] /shift+m (merges)
# take the cursor where you wnat break ctrl+shift+-

In [ ]:
x=1
while x==1:
    print('hello')
    #interrupt

In [1]:
who
# all variabels created

Interactive namespace is empty.

In [ ]:
# creating variables with single value
# type casting 
# operations

In [2]:
x=4
y=5

In [3]:
x

4

In [4]:
x,y

(4, 5)

In [5]:
X

NameError: name 'X' is not defined

In [16]:
#how to choose name :
#no number starting
# no spaces b/w var name
#only special character allowed in var name is _
#reserve words cannot be used as var name

Variable Naming
You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow

Variable names can not have spaces in between.
They can not contain any special character except underscore [i.e. _ ]
Variable names can not start with a number , however you can have numbers anywhere else in the variable name
In addition to these rules there are few good practices when you are naming your variables. Google python style guide recommends following way of naming variables based on what type of variables they are.

module_name, package_name, ClassName, method_name, ExceptionName, function_name, GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, function_parameter_name, local_var_name

Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.

Lets see an example below , you decide yourself which variable name is more readable

1var
var1=34

In [142]:
var1

34

In [10]:
thisisavariablewhichijustcreated=34

In [12]:
this_is_a_variable_which_i_just_created=34

In [13]:
who

this_is_a_variable_which_i_just_created	 thisisavariablewhichijustcreated	 var1	 x	 y

In [14]:
del this_is_a_variable_which_i_just_created,thisisavariablewhichijustcreated

In [15]:
who

var1	 x	 y

**Reserved Words:**


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

pass1='any value'

In [17]:
pass1='any value'

In [17]:
pass1='any value'

pass='any value'

In [18]:
pass='any value'

SyntaxError: invalid syntax (<ipython-input-18-7e7729971bff>, line 1)

#how to get list of reserve  words variabels

as long as any thing with in quotes they are character data

In [20]:
x=34
y='november'

In [22]:
type(x,y)

TypeError: type() takes 1 or 3 arguments

In [23]:
type(y)

str

In [25]:
x='34'
type(x)

str

In [26]:
x+3

TypeError: must be str, not int

In [29]:
int(x)+3

37

In [39]:
type(x)

int

In [32]:
print(x)

34

In [38]:
x=int(x)+3
print(x)
type(x)

52

int

#int,str,bool

In [40]:
x=2
y=19

In [48]:
print(x+y)

x-y

print(x*y)

x/y,x**y

x^y

21
38

17

In [42]:
x-y

-17

In [43]:
x*y

38

In [44]:
x/y,x**y

(0.10526315789473684, 524288)

In [45]:
x^y

17

^ bitwise or
do not use ^ for powers
always use **

In [49]:
(x/y)**(x*y+3)
#complex operation

8.190910549494282e-41

In [50]:
z=(x/y)**(x*y+3)
#complex operation

In [51]:
z

8.190910549494282e-41

In [52]:
x+2,y/10,x-y,x**y
#seprate using comma

(4, 1.9, -17, 524288)

In [53]:
a=x+2
b=x+y
c=x-y
d=x**y

In [55]:
a,b,c,d

(4, 21, -17, 524288)

In [56]:
a,b,c,d=x+y,y/10,x-y,x**y

In [57]:
a,b,c,d

(21, 1.9, -17, 524288)

In [58]:
a=3,b=4
# cannot do this

SyntaxError: can't assign to literal (<ipython-input-58-f7af3d067875>, line 1)

In [59]:
import math

In [64]:
print(math.log(34))
print(math.log1p(34))
print(math.log2(34))
print(math.log(34,10))

3.5263605246161616
3.5553480614894135
5.087462841250339
1.5314789170422551

In [65]:
import math as m

In [66]:
m.log(343)

5.8377304471659395

In [67]:
m.sin(.564)

0.534570959843639

In [69]:
a=m.cos(1)
b=m.cos(0)
a,b

(0.5403023058681398, 1.0)

In [71]:
from math import *

In [72]:
sin(78)

0.5139784559875352

In [74]:
# boolean values true,false
x=true
y=false

NameError: name 'true' is not defined

In [75]:
x=True
y=False

In [76]:
type(x)

bool

In [77]:
x and y, x & y

(False, False)

In [78]:
x or y ,x|y

(True, True)

In [80]:
not x,not y

(False, True)

In [81]:
a=34

In [82]:
a>34 & a=='lalit'

False

In [84]:
(a>4) && (a=34)

SyntaxError: invalid syntax (<ipython-input-84-e9f3fc3d61c7>, line 1)

In [176]:
(a>4) and (a==34)

True

In [88]:
# !x is not same as not x
#only !=

# Writing Conditions

#checking equality : "=="
#in-equality : "!="
#greater than : ">"
#less than : "<"
#greater than or equal to : ">="
#less than or equal to : "<="

In [90]:
x='python'

In [91]:
x=='python'

True

In [92]:
x!='Python'

True

In [93]:
x=45
y=67

In [95]:
(x>20 and y<10)

False

In [96]:
 (x==4 or y>15)

True

In [97]:
(x>20 and y<10) or (x==4 or y>15)

True

In [98]:
x='python'

In [99]:
y='py'

In [100]:
y in x

True

In [101]:
y not in x

False

# string operation

In [102]:
x='python'
y='data'

In [103]:
type(x),type(y)

(str, str)

In [105]:
len(x),len(y)

(6, 4)

In [106]:
x+y

'pythondata'

In [107]:
x*3

'pythonpythonpython'

In [108]:
x*y

TypeError: can't multiply sequence by non-int of type 'str'

In [109]:
x/y 
x*3.2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [110]:
x+' and '+y

'python and data'

In [114]:
z=x+' and '+y
print(z)
z

python and data

'python and data'

In [115]:
type(z)

str

In [121]:
z=z.upper()
print(z.lower())
print(z.upper())
z=z.lower()

python and data
PYTHON AND DATA

In [122]:
z.capitalize()

'Python and data'

In [125]:
r=z.rjust(20)
print(len(r))
r

20

'     python and data'

In [126]:
z.ljust(20)

'python and data     '

In [128]:
c=z.center(20)
print(len(c))
c

20

'  python and data   '

In [129]:
't' in z

True

# whitespace remove

In [131]:
r.rstrip()

'     python and data'

In [132]:
r.lstrip()

'python and data'

In [133]:
c.strip()

'python and data'

In [134]:
z.replace('a','%^&*')

'python %^&*nd d%^&*t%^&*'

In [141]:
help (z.replace)

Help on built-in function replace:

replace(...) method of builtins.str instance
    S.replace(old, new[, count]) -> str

    Return a copy of S with all occurrences of substring
    old replaced by new.  If the optional argument count is
    given, only the first count occurrences are replaced.

In [138]:
z.replace('a','%^&*',1)

'python %^&*nd data'

In [140]:
x='stringIndex'
x

'stringIndex'

# index
start from 0 if we count from right hand side.

-1 from left hand side


## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [144]:
x[4]

'n'

In [145]:
x[-5]

'I'

In [146]:
x[2:7]

'ringI'

In [149]:
x[2:-3]

'ringIn'

In [150]:
x[4:1]

''

In [151]:
x[-7:-4]

'ngI'

In [153]:
x[-4:-7]

''

In [154]:
x[2:10]

'ringInde'

In [155]:
x[2:33]

'ringIndex'

In [156]:
#step size +ve r -ve
x[2:10:2]

'rnId'

In [157]:
x[2:10:-1]

''

In [158]:
x[10:2:-1]

'xednIgni'

In [159]:
x[2:]

'ringIndex'

In [160]:
x[2::-1]

'rts'

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [161]:
x[::-1]

'xednIgnirts'

In [162]:
x='lalit-sachan'

In [163]:
x.split('-')

['lalit', 'sachan']

In [166]:
z=x.split('l')
z

['', 'a', 'it-sachan']

In [167]:
type(z)

list

In [169]:
x.find('-')

5

In [171]:
x.count('a')

3

In [172]:
x.join(z)

'lalit-sachanalalit-sachanit-sachan'

In [174]:
help(x.join)

Help on built-in function join:

join(...) method of builtins.str instance
    S.join(iterable) -> str

    Return a string which is the concatenation of the strings in the
    iterable.  The separator between elements is S.

In [175]:
help(x.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

# list
* list are data structure 

### selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

* can contian multiple value doesnt really what kind of values

In [3]:
x=[20,92,43,83,'lalit','a','c',45]

In [5]:
x

[20, 92, 43, 83, 'lalit', 'a', 'c', 45]

In [6]:
x[3:7]

[83, 'lalit', 'a', 'c']

In [7]:
x[2:]

[43, 83, 'lalit', 'a', 'c', 45]

In [9]:
x[:5]

[20, 92, 43, 83, 'lalit']

In [10]:
x[3:-5]

[]

In [16]:
x[3:5:2]

[83]

In [15]:
x[15]
# in vector its na

IndexError: list index out of range

In [17]:
x[3]=100

In [22]:
x[2]='python'

In [23]:
x[1:4]

[92, 'python', 100]

In [24]:
x[1:4]=70

TypeError: can only assign an iterable

In [25]:
x[1:4]

[92, 'python', 100]

In [30]:
x[1:4]=[70]
x

[20, 70, 'l', 'l', 'o', 45]

In [27]:
x[2:5]

['lalit', 'a', 'c']

In [28]:
x[2:5]='hello'

In [29]:
x

[20, 70, 'h', 'e', 'l', 'l', 'o', 45]

In [31]:
x

[20, 70, 'l', 'l', 'o', 45]

In [32]:
x=[20, 70, 'l', 'l', 'o', 45]

In [33]:
x[2:5]

['l', 'l', 'o']

In [34]:
x[2:5]=['hello']

In [35]:
x

[20, 70, 'hello', 45]

In [38]:
# x[3,4,5] not happn
#can we extract elements with indices not in sequence

## * function of list
### *append() 
#### *extend()
#### *insert(pos,value)
#### *pop()
#### *remove()
#### *sort()
#### *reverse()

In [40]:
x.append(100)
x
#adds at the end of list

[20, 70, 'hello', 45, 100, 100]

In [42]:
print(x,'&',len(x))
x.append([23,-18,'two'])
print(x,'&',len(x))
# list in a list

[20, 70, 'hello', 45, 100, 100] & 6
[20, 70, 'hello', 45, 100, 100, [23, -18, 'two']] & 7

In [43]:
x[-1]

[23, -18, 'two']

In [44]:
x[-1][0]

23

In [45]:
x=x+[10,20,30]

In [46]:
x

[20, 70, 'hello', 45, 100, 100, [23, -18, 'two'], 10, 20, 30]

In [47]:
x.extend(['one','three','five'])

In [48]:
x

[20,
 70,
 'hello',
 45,
 100,
 100,
 [23, -18, 'two'],
 10,
 20,
 30,
 'one',
 'three',
 'five']

In [49]:
print(x)

[20, 70, 'hello', 45, 100, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five']

In [50]:
x.insert(3,'this')

In [51]:
print(x)

[20, 70, 'hello', 'this', 45, 100, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three', 'five']

In [52]:
x.pop()
print(x)

[20, 70, 'hello', 'this', 45, 100, 100, [23, -18, 'two'], 10, 20, 30, 'one', 'three']

In [53]:
x.pop()

'three'

In [56]:
print(x)
print(x[4])
x.pop(4)

print(x)

[20, 70, 'hello', 'this', 100, 100, [23, -18, 'two'], 10, 20, 30, 'one']
100
[20, 70, 'hello', 'this', 100, [23, -18, 'two'], 10, 20, 30, 'one']

In [57]:
print(x)
x.remove(20)
print(x)

[20, 70, 'hello', 'this', 100, [23, -18, 'two'], 10, 20, 30, 'one']
[70, 'hello', 'this', 100, [23, -18, 'two'], 10, 20, 30, 'one']

In [58]:
x.insert(0,20)

In [59]:
print(x)

[20, 70, 'hello', 'this', 100, [23, -18, 'two'], 10, 20, 30, 'one']

In [60]:
help(x.remove)

Help on built-in function remove:

remove(...) method of builtins.list instance
    L.remove(value) -> None -- remove first occurrence of value.
    Raises ValueError if the value is not present.

In [63]:
x=[2,3,40,2,14,2,3,11,71,26]

In [64]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [65]:
x.sort()

In [66]:
x

[2, 2, 2, 3, 3, 11, 14, 26, 40, 71]

In [67]:
x.sort(reverse=True)

In [68]:
x

[71, 40, 26, 14, 11, 3, 3, 2, 2, 2]

In [73]:
x=[2,3,40,2,14,2,3,11,71,26]
x[::-1]

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [78]:
print(x)
x.reverse()
x

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

In [79]:
print(x)
x.reverse()
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [80]:
a=x.reverse()
a

In [82]:
print(a)
#no return type of function

None

In [83]:
a=[x.reverse()]

In [84]:
a

[None]

In [85]:
x

[26, 71, 11, 3, 2, 14, 2, 40, 3, 2]

In [86]:
x.reverse()

In [87]:
x

[2, 3, 40, 2, 14, 2, 3, 11, 71, 26]

# Flow Control
* if else
* for
* while
* list comprehension

In [106]:
x=8
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [99]:
if x>10:
    print('my value is greater than 10  and is :'+str(x))
else:
     difference=10-x
     print('my value is lesser by '+str(difference))

my value is greater than 10  and is :67

In [110]:
if x>10:
    print('my value is greater than 10  and is :'+str(x))
elif x>7:
    print("my value is samaller than 10 but larger than 7 and value of x is"+str(x))
else:
     difference=10-x
     print('my value is lesser by ', +str(difference), 'value is : ',+str(x))

TypeError: '>' not supported between instances of 'list' and 'int'

In [111]:
x=[5,40,12,-10,0,32,4,3,6,72]

In [119]:
for value in x:
    if value>10:
        print('my value is greater than 10  and is :'+str(value))
    elif value>7:
        print("my value is samaller than 10 but larger than 7 and value of x is"+str(value))
    else:
         difference=10-value
         print('my value is lesser by '+str(difference), 'value is : '+str(value))

my value is lesser by 5 value is : 5
my value is greater than 10  and is :40
my value is greater than 10  and is :12
my value is lesser by 20 value is : -10
my value is lesser by 10 value is : 0
my value is greater than 10  and is :32
my value is lesser by 6 value is : 4
my value is lesser by 7 value is : 3
my value is lesser by 4 value is : 6
my value is greater than 10  and is :72

In [127]:
for value in x:
    if value>10:
        print('my value is larger than 10')
    else:
        difference =10-value
        print("" +str(value),' is smaller than 10 by '+str(difference))
        print('hello again')
    print('hello')
print('hello there')

5  is smaller than 10 by 5
hello again
hello
my value is larger than 10
hello
my value is larger than 10
hello
-10  is smaller than 10 by 20
hello again
hello
0  is smaller than 10 by 10
hello again
hello
my value is larger than 10
hello
4  is smaller than 10 by 6
hello again
hello
3  is smaller than 10 by 7
hello again
hello
6  is smaller than 10 by 4
hello again
hello
my value is larger than 10
hello
hello there

In [130]:
cities=['Mumbai','London','Bangalore','Pune','Hyderabad']

In [134]:
for city in cities:
    print('hello')

hello
hello
hello
hello
hello

In [139]:
for city in cities:
    num_chars=len(city)
    print('number of character in the name of city '+city+':'+str(num_chars))

number of character in the name of city Mumbai:6
number of character in the name of city London:6
number of character in the name of city Bangalore:9
number of character in the name of city Pune:4
number of character in the name of city Hyderabad:9

In [143]:
x=10
if x>6:
    print('x is greater than 6')
    if x>7:
        print('greater than 7')
        if x>8:
            print('greater than 8')

x is greater than 6
greater than 7
greater than 8

In [145]:
# break,continue,pass

In [146]:
x=[[1,2],['a','b'],[36,67]]
x

[[1, 2], ['a', 'b'], [36, 67]]

In [151]:
for i,j in x:
    print(i,j)

1 2
a b
36 67

In [153]:
x=[[1,2],['a','b','c'],[36,67]]
x

[[1, 2], ['a', 'b', 'c'], [36, 67]]

In [154]:
for i,j in x:
    print(i,j)

1 2

ValueError: too many values to unpack (expected 2)

In [157]:
ctr=0
for city in cities:
    print(ctr,":",len(city))
    ctr+=1

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [158]:
for i,city in enumerate(cities):
    print(i,':',len(city))

0 : 6
1 : 6
2 : 9
3 : 4
4 : 9

In [159]:
x=[[2,3,4,5,6,7,8],[2,3,4,5,6,7,8],[2,3,4,5,6,7,8]]

In [162]:
for i,(a,b,c,d,e,f,g) in enumerate(x) :
    print(i,':',a,b,c,d,e,f,g)

0 : 2 3 4 5 6 7 8
1 : 2 3 4 5 6 7 8
2 : 2 3 4 5 6 7 8

* while
    work on conditions

In [164]:
list(enumerate(cities))

[(0, 'Mumbai'), (1, 'London'), (2, 'Bangalore'), (3, 'Pune'), (4, 'Hyderabad')]

In [169]:
x=10
while x>3:
    print(x,' is greater than 3')
    x-=1

10  is greater than 3
9  is greater than 3
8  is greater than 3
7  is greater than 3
6  is greater than 3
5  is greater than 3
4  is greater than 3

In [179]:
for i in x:
    if i>3:
        print(i,'is greater than 3')

TypeError: 'int' object is not iterable

In [180]:
mylist=range(10,3,-1)

In [181]:
for value in mylist:
    print(value)

10
9
8
7
6
5
4

In [197]:
mysum=0
throws=0
import numpy as np
while mysum<=20 and throws<=6:
    throw=np.random.randint(high=7,low=1)
    mysum+=throw
    throws+=1
    print(throw)

if throws>6:
    print('loss')
else:
    print('win')

4
2
5
4
6
win

In [201]:
x=[2,3,4,5,6,8,9,10,20,33,44,12]

In [205]:
import math
logs=[]
for num in x:
    logs.append(math.log(num))
print(x)
print(logs)

[2, 3, 4, 5, 6, 8, 9, 10, 20, 33, 44, 12]
[0.6931471805599453, 1.0986122886681098, 1.3862943611198906, 1.6094379124341003, 1.791759469228055, 2.0794415416798357, 2.1972245773362196, 2.302585092994046, 2.995732273553991, 3.4965075614664802, 3.784189633918261, 2.4849066497880004]

In [207]:
logs=[math.log(num) for num in x]

In [208]:
logs

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.302585092994046,
 2.995732273553991,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [213]:
x=[0,2,3,4,-5,6,8,9,-10,20,1,33,44,12]

In [218]:
logs=[math.log(num) for num in x if num>0 ]

In [219]:
logs

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.995732273553991,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [216]:
logs=[]
for num in x:
    if num>0:
        logs.append(math.log(num))
    else:
        logs.append("value out of domain")

In [217]:
logs

['value out of domain',
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 'value out of domain',
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 'value out of domain',
 2.995732273553991,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [214]:
logs=[]
for num in x:
    if num>0:
        logs.append(math.log(num))
    else:
        pass

In [220]:
logs

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.995732273553991,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [223]:
logs=[math.log(num) if num>0 else 'out of domain' for num in x]

In [224]:
logs

['out of domain',
 0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 'out of domain',
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 'out of domain',
 2.995732273553991,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

# Dictonary ,set,tupels

In [225]:
my_dictr={'name':'lalit','city':'hyderabad','locality':'gachibowli','num_vehicle':2,3:78,4:[3,4,5,6]}

In [227]:
type(my_dictr)

dict

In [228]:
my_dictr

{3: 78,
 4: [3, 4, 5, 6],
 'city': 'hyderabad',
 'locality': 'gachibowli',
 'name': 'lalit',
 'num_vehicle': 2}

In [229]:
my_dictr.keys()

dict_keys(['name', 'city', 'locality', 'num_vehicle', 3, 4])

In [230]:
my_dictr.values()

dict_values(['lalit', 'hyderabad', 'gachibowli', 2, 78, [3, 4, 5, 6]])

In [236]:
my_dictr.keys()

dict_keys(['name', 'city', 'locality', 'num_vehicle', 3, 4])

In [237]:
my_dictr['locality']

'gachibowli'

In [238]:
my_dictr[4]

[3, 4, 5, 6]

In [239]:
my_dictr['last_name']

KeyError: 'last_name'

In [240]:
my_dictr['last_name']='scahan'

In [241]:
my_dictr

{3: 78,
 4: [3, 4, 5, 6],
 'city': 'hyderabad',
 'last_name': 'scahan',
 'locality': 'gachibowli',
 'name': 'lalit',
 'num_vehicle': 2}

In [242]:
del my_dictr['num_vehicle']

In [244]:
my_dictr

{3: 78,
 4: [3, 4, 5, 6],
 'city': 'hyderabad',
 'last_name': 'scahan',
 'locality': 'gachibowli',
 'name': 'lalit'}

In [245]:
print(my_dictr)

{'name': 'lalit', 'city': 'hyderabad', 'locality': 'gachibowli', 3: 78, 4: [3, 4, 5, 6], 'last_name': 'scahan'}

In [246]:
for elem in my_dictr:
    print(elem)

name
city
locality
3
4
last_name

In [247]:
for itr in my_dictr:
    print(my_dictr[itr])

lalit
hyderabad
gachibowli
78
[3, 4, 5, 6]
scahan

In [250]:
for i,itr in enumerate(my_dictr):
    print(i,')',itr,':',my_dictr[itr])

0 ) name : lalit
1 ) city : hyderabad
2 ) locality : gachibowli
3 ) 3 : 78
4 ) 4 : [3, 4, 5, 6]
5 ) last_name : scahan

In [253]:
mylist=[math.log(num) for num in x if num>0]

In [254]:
mylist

[0.6931471805599453,
 1.0986122886681098,
 1.3862943611198906,
 1.791759469228055,
 2.0794415416798357,
 2.1972245773362196,
 2.995732273553991,
 0.0,
 3.4965075614664802,
 3.784189633918261,
 2.4849066497880004]

In [256]:
my_dictr.items()

dict_items([('name', 'lalit'), ('city', 'hyderabad'), ('locality', 'gachibowli'), (3, 78), (4, [3, 4, 5, 6]), ('last_name', 'scahan')])

In [259]:
for key,value in my_dictr.items():
    print(key,' : key','And',value,':values')

name  : key And lalit :values
city  : key And hyderabad :values
locality  : key And gachibowli :values
3  : key And 78 :values
4  : key And [3, 4, 5, 6] :values
last_name  : key And scahan :values

# sets :
### * sets are same as list ,collection of unordered and unique solution 
* duplicate are not to be included
* no concept of index

In [260]:
names={'lalit','spandan','deepa','manoj'}

In [262]:
type(names)

set

In [264]:
'lalit' in names

True

In [266]:
'harsh' not  in names

True

In [267]:
names.add('harsh')

In [268]:
names

{'deepa', 'harsh', 'lalit', 'manoj', 'spandan'}

In [273]:
names.add('harsh')

In [274]:
names

{'deepa', 'harsh', 'lalit', 'manoj', 'spandan'}

In [275]:
names.remove('lalit')

In [276]:
names

{'deepa', 'harsh', 'manoj', 'spandan'}

In [277]:
for name in names:
    print(name)

manoj
harsh
spandan
deepa

In [278]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [279]:
c=a.union(b)

In [280]:
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [281]:
a.intersection(b)

{4, 5, 6}

In [282]:
b.intersection(a)

{4, 5, 6}

In [284]:
a.issubset(b)

False

In [285]:
a.issubset(c)

True

In [286]:
c.issuperset(b)

True

In [287]:
a.difference(b)

{1, 2, 3}

In [288]:
b.difference(a)

{7, 8, 9}

In [289]:
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

In [290]:
b.symmetric_difference(a)

{1, 2, 3, 7, 8, 9}

# tupels:
#### * tupels are same as list but immutable values cannot be changed
#### * where you want to do restriction .contain data which is not supposed to change

In [292]:
t=(34,56,12)

In [293]:
type(t)

tuple

In [294]:
t=34,56,12

In [295]:
type(t)

tuple

In [296]:
t[2]=86

TypeError: 'tuple' object does not support item assignment

In [298]:
t[2]

12

In [327]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [70]:
t =( 12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [71]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [72]:
t

(12345, 54321, 'hello!')

# functions and class
#### function name,def,args/input

In [299]:
x=7
fib_series=[1,1]
ctr=2
while ctr<=x:
    fib_series.append(fib_series[-1]+fib_series[-2])
    ctr+=1

In [300]:
fib_series

[1, 1, 2, 3, 5, 8, 13, 21]

In [301]:
def fib_series_creator(num_elements):
    fib_series=[1,1]
    ctr=2
    while ctr<=num_elements:
        fib_series.append(fib_series[-1]+fib_series[-2])
        ctr+=1
    return(fib_series)

In [303]:
print(fib_series_creator(19))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]

In [304]:
def mysum(x,y,z):
    return (2*x+3*y+4*z)

In [305]:
mysum(1,2,3)

20

In [306]:
mysum(1,2)

TypeError: mysum() missing 1 required positional argument: 'z'

In [307]:
def mysum(x=0,y=0,z=0):
    return (2*x+3*y+4*z)

In [308]:
mysum(1,2)

8

In [309]:
mysum(2)

4

In [312]:
mysum( 0,0 ,1)

4

In [313]:
mysum(z=1)

4

In [314]:
mysum(y=5)

15

In [317]:
mysum(y=-3,z=-3,x=9)

-3

In [318]:
mysum(z=10,2)

SyntaxError: positional argument follows keyword argument (<ipython-input-318-93e4cb8627ef>, line 1)

In [319]:
mysum(2,z=23)

96

In [320]:
# when you dont know how many input u are gttn
def test_fun(*args):
    for a in args:
        print(a)

In [321]:
test_fun(2,'lana')

2
lana

In [323]:
test_fun(1,2,3,43,[1,3,5.4,34])

1
2
3
43
[1, 3, 5.4, 34]

In [325]:
def mysum(*args):
    total=0
    for a in args:
        total+=a
    return(total)

In [326]:

mysum(2,3,4,54,3,4)

70

In [328]:
c1_name='lan'
c1_balance=100
c1_last_wd=10

c2_name='chan'
c2_balance=200
c2_last_wd=50

In [329]:
c1_current_wd=20

In [331]:
c1_balance-=c1_current_wd

In [332]:
c2_last_wd=c1_current_wd

In [383]:
class customer():
    def __init__(self,name,balance,last_wd):
        self.name=name
        self.balance=balance
        self.last_wd=last_wd
    def withdraw(self,amount):
        if(amount>self.balance):
            print('insuffecient balance')
        else:
            self.balance-=amount
            self.last_wd=amount
    def deposit(self,amount):
        self.balance+=amount
        return(self.balance)

In [384]:
c1=customer('lan',200,12)

In [385]:
c1.name

'lan'

In [386]:
c1.last_wd

12

In [387]:
c2=customer('chan',200,52)

In [388]:
c1.withdraw(2003)

insuffecient balance

In [389]:
c1.balance

200

In [390]:
c1.withdraw(50)

In [391]:
c1.last_wd

50

In [392]:
c1.balance

150

In [393]:
withdraw(40)

NameError: name 'withdraw' is not defined

In [394]:
customer.withdraw(c1,20)

In [395]:
c1.balance

130

In [396]:
c1.withdraw(23)

In [397]:
c1.balance

107

In [398]:
c1.deposit(100)

207

In [399]:
class myclass():
    def f1(x,y):
        return(x*y)
    def f2():
        print('hello')

In [400]:
f1(3,4)

NameError: name 'f1' is not defined

In [401]:
myclass.f1(3,4)

12

In [402]:
myclass.f2()

hello

In [403]:
myclass

__main__.myclass

In [404]:
a=20
b=10

In [405]:
# variable inside function are local :
def exp1(a,b):
    a=7
    b=3
    global c
    c=100
    print(a,b)

In [406]:
a,b

(20, 10)

In [407]:
exp1(a,b)

7 3

In [408]:
c

100

In [87]:
# we start with keyword class and then give our class a name

class Point(object):

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(math.sqrt(self.X**2+self.Y**2))
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return(math.sqrt(dx**2 + dy**2))
    
    # a function inside the class can take input multiple objects
    # of the same class

In [88]:
z=Point(2,3)
y=Point(4,10)

In [83]:
type(y)

__main__.Point

In [84]:
type(z)

__main__.Point

In [85]:
print(z.X)
print(z.Y)

2
3

you can apply function on and between objects of this class Point by using syntax *clas_name.function* . example given below

In [89]:
print(Point.distance(y,z))
print(Point.length(y))
print(Point.length(z))

7.280109889280518
10.770329614269007
3.605551275463989